@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,300;10..48,600&family=Space+Mono:ital,wght@0,400;1,400;1,700&display=swap');

* {
    font-family: Bricolage Grotesque;
}

#__next {
    min-height: 100vh !important;
}

#parahgraphe,
p {
    font-size: 25px;
    text-align: justify;
}

h1,
h2 {
    font-weight: bolder !important;
    color: #565756 !important;
}

h3 {
    font-weight: bolder !important;
    color: #565756 !important;
    font-style: italic;
}

.header,
#footer {
    background-color: rgba(212, 180, 124, 0.33);
}

#btn {
    background-color: #F8E5A1;
    border: none;
    color: rgb(81, 80, 80) !important;
    font-size: 20px;

}

#iconMenu {
    font-size: 25px;
}

#bold {
    font-weight: bolder !important;
    color: #565756 !important;
}

label {
    font-size: 20px;
}

#toggle {
    background-color: #F8E5A1;
    border: none;
    color: rgb(77, 76, 76);
    font-size: 25px;
}

ul {
    display: flex !important;
}


#subscribe {
    width: 45%;
}

#italic {
    font-style: italic;
}

a {
    color: black !important;
    font-size: 30px;
}

#conditions {
    font-weight: bolder !important;
    color: #565756 !important;
}


img {
    object-fit: contain;
}

#iconBack {
    color: #F8E5A1;
    font-size: 40px;
}

#bookCardComponent{
display: flex;
justify-content: space-between;
}

#bookCard {
    /* height: 417px; */
    object-fit: contain;
}

.card-body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card-title {
    font-size: 1.5rem;
}

.card-text {
    font-size: 1.2rem;
}

@media (max-width: 767px) {
    #bookCard {
        height: auto;
    }

    #bookCardComponent{
        display: flex;
flex-direction: column;
    }

    .card-body {
        padding: 10px;
    }

    .card-title {
        font-size: 1.2rem;
    }

    .card-text {
        font-size: 1rem;
    }
}